@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  padding: 5px;
  background: rgb(207, 189, 189);
}

::-webkit-scrollbar-thumb:hover {
  padding: 5px;
  background: rgb(61, 53, 53);
}

/* For navbar */
nav {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: transparent;
  height: auto;
}

.logo img {
  float: left;
  position: relative;
  max-width: 160px;
  max-height: auto;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  margin-left: 3rem;
  margin-top: 1rem;
  /* overflow: hidden; */
}

nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 1vh;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 13px;
}

nav ul li a {
  color: white;
  font-size: 1vw;
  padding: 7px 3px;
  border-radius: 2px;
  text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover {
  background: black;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 4px;
}

.slide-container {
  width: 800px;
  height: 600px;
  /* margin-left: auto; */
  margin-right: auto;
  /* overflow: hidden; */
}

.image-container {
  width: 4100px;
  height: fit-content;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
}

.slider-image {
  float: left;
  margin-top: 0;
  width: 100vw;
  height: max-content;
}

.button-container {
  position: relative;
  top: -34vh;
  display: inline-flex;
  background: transparent;
  margin-left: 5vw;
}

.slider-button {
  color: white;
  font-size: 12px;
  font-family: "BaronMTModern" !important;
  text-transform: uppercase;
  padding: 0 3vw;
  cursor: pointer;
}

.button-container a:hover {
  font-size: 12.3px;
}

#slider-image-1:target ~ .image-container {
  left: 0px;
}

#slider-image-2:target ~ .image-container {
  left: -1366px;
}

#slider-image-3:target ~ .image-container {
  left: -2733px;
}
@media only screen and (min-width: 1366px) {
  .image-container {
    width: 5500px;
    height: fit-content;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
  }

  #slider-image-2:target ~ .image-container {
    left: -1366px;
  }

  #slider-image-3:target ~ .image-container {
    left: -2740px;
  }
}

@media only screen and (min-width: 1920px) {
  .image-container {
    width: 5500px;
    height: fit-content;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
  }

  #slider-image-2:target ~ .image-container {
    left: -1537px;
  }

  #slider-image-3:target ~ .image-container {
    left: -3071px;
  }
}

.mystory {
  display: flex;
  width: 100vw;
  margin-top: 300px;
  margin-bottom: 280px;
  margin-left: 300px;
  margin-right: 300px;
  height: 436px;
}

.write {
  display: flex;
}

.story_image {
  height: 400px;
  width: 320px;
  border-radius: 0.5rem;
}

.story-title {
  height: 180px;
  width: 280px;
}

.story_content {
  height: 200px;
  width: 500px;
  margin-left: 2vw;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}


