@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://db.onlinewebfonts.com/c/5ece1d8244aa9aacbd53d75772bf5353?family=Louis+Vuitton+Medium");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

/* ::-webkit-scrollbar {
  scroll-behavior: auto;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: 2s;
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 189, 189);
}

::-webkit-scrollbar-thumb:hover {
  padding: 5px;
  background: rgb(61, 53, 53);
}  */

/* .forScrollNav {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: transparent;
  background-image: linear-gradient(to right,white,rgba(241, 232, 230, 0.40),rgba(72, 77, 73,0.40));
  height: auto;
  transition: 1s;
} */

/* For navbar */
nav {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: transparent;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(252, 252, 249, 0), rgba(231, 231, 219, 0));
  height: auto;
  transition: 1s;
  box-shadow: none;
}

.logo a img {
  float: left;
  position: relative;
  max-width: 160px;
  max-height: auto;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: 2s;
  overflow: hidden;
}


nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 1vh;
  transition: all 0.5s ease-in;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 13px;
}

nav ul li a {
  color: white;
  font-size: 1vw;
  font-family: sans-serif;
  padding: 7px 3px;
  border-radius: 2px;
  text-transform: uppercase;
}

nav ul li a:hover {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 4px;
  transition: 0.5s;
  border-bottom: 5px solid gold;
  border-radius: 10px;
}


.slide-container {
  width: 800px;
  height: 600px;
  /* margin-left: auto; */
  margin-right: auto;
  /* overflow: hidden; */
}

.image-container {
  width: 6100px;
  height: 768px;
  position: sticky;
  transition: left 2s;
  -webkit-transition: left 2s;
}

.slider-image {
  /* height: fit-content; */
  float: left;
  margin-top: 0;
  width: 100vw;
  height: auto;
}

.button-container {
  position: relative;
  top: -34vh;
  display: inline-flex;
  background: transparent;
  margin-left: 5vw;
}

.slider-button {
  color: white;
  font-size: 10px;
  font-family: "BaronMTModern";
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 30px;
}

.slider-button h1 {
  width: 155px;
}

.fashion {
  margin-right: 0px;
}

.SD {
  margin-right: 50px;
}

.button-container a:hover {
  font-size: 10.3px;
  transition: 0.5s;
  width: 155px;
}

#slider-image-1:target~.image-container {
  left: 0px;
}

#slider-image-2:target~.image-container {
  left: -1366px;
}

#slider-image-3:target~.image-container {
  left: -2733px;
}


.mywork2 {
  position: relative;
  display: flex;
}

.workimg2 {
  width: 1520px;
  height: 700px;
  background-attachment: fixed;
  background-size: cover;
}

.worktext2 {
  display: inline-block;
  margin-top: 380px;
  text-align: center;
  margin-left: 200px;
}

.worktext2 h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: none;
  white-space: nowrap;
  border-right: 4px solid black;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

@keyframes blink {
  from {
    border-color: transparent
  }

  to {
    border-color: black;
  }

}

.mystory {
  display: flex;
  width: 100vw;
  margin-bottom: 280px;
  margin-left: 300px;
  margin-right: 300px;
  height: 436px;
}

.write {
  display: flex;
}

.story_image {
  height: 400px;
  width: 320px;
  border-radius: 0.5rem;
  margin-top: 100px;
}

.story-title {
  margin-top: 100px;
  padding-left: 155px;
  height: 180px;
  width: 280px;
}

.story_content {
  height: 200px;
  width: 500px;
  margin-left: 4.7vw;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
}


#story {
  margin-top: 130px;
}

#Work {
  width: 100vw;
  height: 100vh;
}

.WorkAdjust {
  background-color: white;
  /* background-image: url("https://www.clipartkey.com/mpngs/m/10-108759_clip-art-color-smoke-png-colored-smoke-transparent.png"); */
  height: 628px;
  width: 1366px;
  display: inline-flex;
}

/* .WorkAdjust img {
  height: 350px;
  width: 250px;
  margin-left: 150px;
  margin-top: 130px;
  border-radius: 5px;
} */

.img3 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8qpZl4sdKiS42ioobI5QcrPw1kpfdr3fSydVcMuwGvzl9ec9jJyxbbKDjLFGfbn7ryt4&usqp=CAU");
  background-color: white;
  height: 300px;
  width: 310px;
  position: relative;
  top: 250px;
  margin-left: 110px;
  border-radius: 20px;
}

.img1 {
  height: 350px;
  width: 250px;
  margin-left: 140px;
  margin-top: -200px;
  border-radius: 5px;
  position: relative;
  animation: none;
}

@keyframes img11 {
  from {
    left: -100px;
  }

  to {
    left: 0px;
  }
}

.img2 {
  position: absolute;
  margin-top: 165px;
  height: 140px;
  width: 300px;
  margin-left: -276.5px;
  border: 2px solid black;
  border-radius: 20px;
}

.fashionsection {
  /* padding-top: 3rem; */
  padding-bottom: 3.7rem;
  position: relative;
}

.fashionbgimg {
  background-image: url('https://wallpapercave.com/wp/wp3626992.jpg');
  width: 1520px;
  height: 730px;
  background-attachment: fixed;
  background-size: cover;
}

.KivaCouture {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.heritageCouture {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -1322px;
  margin-left: 760px;
  align-content: center;
}

.heritage {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.heritagecontent {
  display: block;
  padding: auto;
  margin: auto;
}

.heritagecontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.personalstylingBranding {
  padding-bottom: 3.7rem;
  position: relative;
}

.PSBbgimg {
  background-image: url('img/wallpaperflare.com_wallpaper.jpg');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -1125px;
}

.PSBranding {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.PSBrad {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -2472px;
  margin-left: 220px;
  align-content: center;
}

.PSBrd {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.PSBcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.PSBcontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}


.mySlides {
  display: none;
}

.mySlides1 {
  display: none;
}

.mySlides2 {
  display: none;
}

.mySlides3 {
  display: none;
}

.mySlides4 {
  display: none;
}

.mySlides5 {
  display: none;
}

.mySlides6 {
  display: none;
}

.mySlides7 {
  display: none;
}

.mySlides8 {
  display: none;
}

.fashionimage-container {
  width: 400px;
  height: 530px;
  margin-left: 2px;
  position: relative;
  top: -20px;
}

.PSBimage-container {
  width: 400px;
  height: 530px;
  margin-left: 580px;
  position: relative;
  top: -1260px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.jewelry {
  padding-bottom: 3.7rem;
  position: relative;
}

.jewelrybgimg {
  background-image: url('https://a-static.besthdwallpaper.com/decorative-jewellery-wallpaper-1920x1080-11136_48.jpg');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -2244px;
}

.jewelryimage-container {
  width: 400px;
  height: 530px;
  margin-left: 80px;
  position: relative;
  top: -2380px;
}

.jewelryimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.EJtext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -3585px;
  margin-left: 720px;
  align-content: center;
}

.EJT {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.EJcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.EJcontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.SDsection {
  /* padding-top: 3rem; */
  padding-bottom: 3.7rem;
  position: relative;
}

.SDbgimg {
  background-image: url('img/IMG_7111.JPG');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -3363.5px;
}

.SDimage-container {
  width: 400px;
  height: 530px;
  margin-left: 80px;
  position: relative;
  top: -3520px;
}

.SDimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.SDtext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -4710.5px;
  margin-left: 720px;
  align-content: center;
}

.SDT {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.SDcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.SDcontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.LSbgimg {
  background-image: url('https://blenderartists.org/uploads/default/original/4X/6/6/a/66a3ab32f2c88c6f5867e96038e97d1d69d3af5f.jpeg');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -4423.5px;
}

.LSimage-container {
  width: 400px;
  height: 530px;
  margin-left: 80px;
  position: relative;
  top: -4540px;
}

.LSimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.LStext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -5740px;
  margin-left: 720px;
  align-content: center;
}

.LST {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.LScontent {
  display: block;
  padding: auto;
  margin: auto;
}

.LScontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.CSbgimg {
  background-image: url('https://www.saffrontouch.com/wp-content/uploads/2014/08/Ansal-3D-HD-1-830x430.jpg');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -5484px;
}

.CSimage-container {
  width: 400px;
  height: 530px;
  margin-left: 570px;
  position: relative;
  top: -5630px;
}

.CSimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.CStext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -6821px;
  margin-left: 220px;
  align-content: center;
}

.CST {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.CScontent {
  display: block;
  padding: auto;
  margin: auto;
}

.CScontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.HDbgimg {
  background-image: url('http://cdn.home-designing.com/wp-content/uploads/2019/03/wooden-wall-decor.jpg');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -6544px;
}

.HDimage-container {
  width: 400px;
  height: 530px;
  margin-left: 80px;
  position: relative;
  top: -6689px;
}

.HDimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.HDtext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -7891px;
  margin-left: 720px;
  align-content: center;
}

.HDT {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.HDcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.HDcontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.Wbgimg {
  background-image: url('https://images.unsplash.com/photo-1584377334016-464803e03b80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHJpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -7603.5px;
}

.Wimage-container {
  width: 400px;
  height: 530px;
  margin-left: 570px;
  position: relative;
  top: -7729px;
}

.Wimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.Wtext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -8920px;
  margin-left: 220px;
  align-content: center;
}

.WT {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.Wcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.Wcontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}

.Cbgimg {
  background-image: url('https://images.unsplash.com/photo-1488806374796-a4071c52353b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGNyYWZ0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
  width: 100%;
  height: 900px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: -8664px;
}

.Cimage-container {
  width: 400px;
  height: 530px;
  margin-left: 80px;
  position: relative;
  top: -8769px;
}

.Cimages {
  width: 400px;
  height: 530px;
  margin-left: 144px;
  position: relative;
  top: -550px;
}

.Ctext {
  width: 400px;
  height: 530px;
  background: white;
  position: relative;
  top: -9981px;
  margin-left: 720px;
  align-content: center;
}

.CT {
  position: relative;
  /* padding-top: 7rem; */
  margin-left: 65px;
  height: 110px;
  width: 285px;
}

.Ccontent {
  display: block;
  padding: auto;
  margin: auto;
}

.Ccontent h1 {
  color: black;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 7px;
  margin-left: 20px;
  margin-right: 20px;
}


/* Tstimonials designing */

.sectiontestimonials {
  position: relative;
  width: 100%;
  height: 538px;
  background-image: url('img/testimonialbackground.jpg');
}

.testimonialheading {
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 150;
  font-size: 5rem;
}


.testimonialbox {
  display: flex;
  position: relative;
}

.innertestimonialsimg-1 {
  width: 110px;
  height: 110px;
  display: inline-block;
  margin-top: 4rem;
  margin-left: 5rem;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.innertestimonialsimg-2 {
  width: 110px;
  height: 110px;
  display: inline-block;
  margin-top: 4rem;
  margin-left: 40rem;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.innertestimonialsimg-3 {
  width: 110px;
  height: 110px;
  display: inline-block;
  margin-top: 4rem;
  margin-left: 75rem;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Contact Us Styling */
.contact {
  /* background-color: #f6f5f4; */
  background-image: url('img/test-bg.jpg');
  height: 580px;
}

.text-center {
  text-align: center;
  padding-top: 35px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
}

.form {
  max-width: 62%;
  margin: 1px auto;
}

.form-input {
  margin: 14px 0;
  padding: 7px 10px;
  width: 100%;
  font-size: 19px;
  border: 3.5px solid gold;
  border-radius: 6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit-btn {
  font-size: 20px;
  background-color: lightgray;
  border-radius: 5px solid gray;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.submit-btn:hover{
background-color: darkgray;
}

/* ADD CSS HERE */

@media only screen and (max-width: 1920px) {
  .button-container {
    position: relative;
    top: -30vh;
  }

  .image-container {
    width: 5500px;
    height: fit-content;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
  }

  #slider-image-2:target~.image-container {
    left: -1537px;
  }

  #slider-image-3:target~.image-container {
    left: -3071px;
  }

  .img1 {
    height: 280px;
    width: 250px;
    margin-left: 140px;
    margin-top: -200px;
    border-radius: 5px;
    position: relative;
    animation: none;
    border-radius: 7px;
  }

}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .image-container {
    width: 5500px;
    height: fit-content;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
  }

  #slider-image-2:target~.image-container {
    left: -1366px;
  }

  #slider-image-3:target~.image-container {
    left: -2740px;
  }

  .heritageCouture {
    width: 400px;
    height: 530px;
    background: white;
    position: relative;
    top: -1180px;
    margin-left: 760px;
    align-content: center;
  }
}