@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://db.onlinewebfonts.com/c/5ece1d8244aa9aacbd53d75772bf5353?family=Louis+Vuitton+Medium");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  scroll-behavior: auto;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: 5s;
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 189, 189);
}

::-webkit-scrollbar-thumb:hover {
  padding: 5px;
  background: rgb(61, 53, 53);
}

.forScrollNav {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: transparent;
  background-image: linear-gradient(to right,
      white,
      rgba(241, 232, 230, 0.4),
      rgba(72, 77, 73, 0.4));
  height: auto;
  transition: 1s;
}

/* For navbar */
nav {
  overflow-x: hidden;
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: transparent;
  overflow: hidden;
  background-image: linear-gradient(to right,
      rgb(252, 252, 249, 0),
      rgba(231, 231, 219, 0));
  height: auto;
  transition: 1s;
  box-shadow: none;
}

.logo a img {
  float: left;
  position: relative;
  max-width: 10vw;
  max-height: auto;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: 2s;
  overflow: hidden;
}

nav ul {
  float: right;
  margin-right: 3.4vw;
  margin-top: 2vh;
  transition: all 0.7s ease;
}

nav ul li {
  display: inline-block;
  line-height: 4.9vw;
  width: 8vw;
  text-align: center;
}

nav ul li a {
  color: white;
  font-size: 1vw;
  font-family: sans-serif;
  padding: 1.12vh 0.3vw;
  border-radius: 0.14vw;
  text-transform: uppercase;
}

nav ul li a:hover {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.3vw;
  transition: 0.5s;
  border-bottom: 0.4vw solid gold;
  border-radius: 0.7vw;
}

.FnavLI {
  display: inline-block;
  line-height: 4.9vw;
  width: 9vw;
  text-align: center;
}

.artNav {
  display: inline-block;
  line-height: 4.9vw;
  width: 4vw;
  text-align: center;
}


#image1 {
  transform: unset;
  transition: 2s;
}

#image2 {
  transform: unset;
  transition: 2s;
}

#image3 {
  transform: unset;
  transition: 2s;
}

.slide-container {
  width: 58.5vw;
  height: 96vh;
  margin-right: auto;
}

.image-container {
  width: 446.5vw;
  height: 122.88vh;
  position: sticky;
  transition: left 2s;
  -webkit-transition: left 2s;
}

.slider-image {
  float: left;
  margin-top: 0;
  width: 100vw;
  height: auto;
}

.button-container {
  position: relative;
  top: -30vh;
  display: inline-flex;
  background: transparent;
  margin-left: 5vw;
}

.slider-button {
  color: white;
  font-size: 10vw;
  font-family: "BaronMTModern";
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2.196vw;
  margin-left: 2.196vw;
}

.slider-button h1 {
  width: 11.5vw;
  font-size: 1.46vw;
}

.fashion {
  margin-right: 0vw;
}

.SD {
  margin-right: 3.8vw;
}

.slider-button h1:hover {
  font-size: 1.54vw;
  transition: 1s ease;
  width: 11.5vw;
}




@keyframes typing {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: black;
  }
}

.mystory {
  display: flex;
  width: 100vw;
  margin-bottom: 10vh;
  padding-top: 5vh;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 89.76vh;
}

#story {
  align-items: center;
  /* margin-top: 10.8vh; */
  margin-bottom: 10vh;
}

.write {
  display: flex;
}

.story_image {
  height: 65vh;
  width: 24.3vw;
  border-radius: 0.7rem;
  margin-top: 16vh;
}

.story-title {
  margin-top: 14vh;
  padding-left: 11.3vw;
  height: 26.8vh;
  width: 18.49vw;
}

.story_content {
  height: 32vh;
  width: 36.6vw;
  margin-left: 4.7vw;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 1.1vw;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.366vh;
}

.mywork2 {
  position: relative;
  display: flex;
}

.workimg2 {
  width: 100vw;
  height: 112vh;
  background-attachment: fixed;
  background-size: cover;
}

.worktext2 {
  display: inline-block;
  margin-top: 60.8vh;
  text-align: center;
  margin-left: 14.6vw;
}

.worktext2 h1 {
  color: rgb(255, 255, 255);
  font-size: 4vw;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 0.14vw;
  animation: none;
  white-space: nowrap;
  border-right: 0.1vw solid black;
  box-sizing: border-box;
}

#Work {
  width: 100vw;
  height: 110vh;
}



.WorkAdjust {
  background-color: white;
  /* background-image: url("https://www.clipartkey.com/mpngs/m/10-108759_clip-art-color-smoke-png-colored-smoke-transparent.png"); */
  height: 42.88vh;
  width: 100vw;
  display: inline-flex;
}

/* .WorkAdjust img {
  height: 350px;
  width: 250px;
  margin-left: 150px;
  margin-top: 130px;
  border-radius: 5px;
} */

.img3 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8qpZl4sdKiS42ioobI5QcrPw1kpfdr3fSydVcMuwGvzl9ec9jJyxbbKDjLFGfbn7ryt4&usqp=CAU");
  background-color: white;
  height: 48vh;
  width: 22.69vw;
  position: relative;
  top: 35vh;
  margin-left: 8.052vw;
  border-radius: 1.46vw;
}

.img1 {
  height: 20vw;
  width: 18.30vw;
  margin-left: 10.24vw;
  margin-top: -32vh;
  border-radius: 0.366vw;
  position: relative;
  animation: none;
}

@keyframes img11 {
  from {
    left: -7.32vw;
  }

  to {
    left: 0vw;
  }
}

.img2 {
  position: absolute;
  margin-top: 16.4vh;
  height: 22.4vh;
  width: 21.9vw;
  margin-left: -20.24vw;
  border: 0.146vw solid black;
  border-radius: 1.46vw;
}

.fashionsection {
  position: relative;
}

#fashion {
  max-height: 122.88vh;
}

.fashionbgimg {
  background-image: url("https://wallpapercave.com/wp/wp3626992.jpg");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.KivaCouture {
  width: 29.282vw;
  height: 84.8vh;
  margin-left: 10.54vw;
  position: relative;
  top: -88vh;
}

.heritageCouture {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -194.4vh;
  margin-left: 55.636vw;
  align-content: center;
}

.heritage {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.heritagecontent {
  display: block;
  padding: auto;
  margin: auto;
}

.heritagecontent h1 {
  color: black;
  font-size: 1.317vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.personalstylingBranding {
  position: relative;
}

.PSBsection {
  max-height: 122.88vh;
}

.PSBbgimg {
  background-image: url("img/wallpaperflare.com_wallpaper.jpg");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.PSBimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 42.459vw;
  position: relative;
}

.PSBranding {
  width: 29.282vw;
  height: 84.8vh;
  margin-left: 10.54vw;
  position: relative;
  top: -88vh;
}

.PSBrad {
  width: 29.282vw;
  height: 84.8vh;
  background: white;
  margin-left: 10.688vw;
  position: relative;
  top: -193.92vh;
}

.PSBrd {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.86vw;
}

.PSBcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.PSBcontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.fashionimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 0.1464vw;
  position: relative;
  top: -3.2vh;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.jewelry {
  position: relative;
  max-height: 122.88vh;
}

.jSection {
  max-height: 122.88vh;
}

.jewelrybgimg {
  background-image: url("https://a-static.besthdwallpaper.com/decorative-jewellery-wallpaper-1920x1080-11136_48.jpg");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.jewelryimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 0.146vw;
  position: relative;
  top: -3.2vh;
}

.jewelryimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.54vw;
  position: relative;
  top: -88vh;
}

.EJtext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -194.4vh;
  margin-left: 55.636vw;
  align-content: center;
}

.EJT {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.86vw;
}

.EJcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.EJcontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.SDsection {
  position: relative;
}

#SDco {
  max-height: 122.88vh;
}

.SDbgimg {
  background-image: url("img/IMG_7111.JPG");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.SDimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 0.1464vw;
  position: relative;
  top: -3.2vh;
}

.SDimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.541vw;
  position: relative;
  top: -88vh;
}

.SDtext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -193.92vh;
  margin-left: 55.6368vw;
  align-content: center;
}

.SDT {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.SDcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.SDcontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.LivingSpaceDesign {
  position: relative;
}

.LSsection {
  max-height: 122.88vh;
}

.LSbgimg {
  background-image: url("https://blenderartists.org/uploads/default/original/4X/6/6/a/66a3ab32f2c88c6f5867e96038e97d1d69d3af5f.jpeg");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.LSimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 42.459vw;
  position: relative;
}

.LSimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.541vw;
  position: relative;
  top: -88vh;
}

.LStext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  margin-left: 10.688vw;
  position: relative;
  top: -193.92vh;
}

.LST {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.LScontent {
  display: block;
  padding: auto;
  margin: auto;
}

.LScontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.CommSpaceDesign {
  position: relative;
  max-height: 122.88vh;
}

.CSsection {
  max-height: 122.88vh;
}

.CSbgimg {
  background-image: url("https://www.saffrontouch.com/wp-content/uploads/2014/08/Ansal-3D-HD-1-830x430.jpg");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.CSimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 0.1464vw;
  position: relative;
  top: -3.2vh;
}

.CSimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.541vw;
  position: relative;
  top: -88vh;
}

.CStext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -194.4vh;
  margin-left: 55.636vw;
  align-content: center;
}

.CST {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.CScontent {
  display: block;
  padding: auto;
  margin: auto;
}

.CScontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.HomeDecor {
  position: relative;
}

.HDsection {
  max-height: 122.88vh;
}

.HDbgimg {
  background-image: url("http://cdn.home-designing.com/wp-content/uploads/2019/03/wooden-wall-decor.jpg");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.HDimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 0.1464vw;
  position: relative;
  top: -3.2vh;
}

.HDimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.54vw;
  position: relative;
  top: -88vh;
}

.HDtext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -193.92vh;
  margin-left: 55.636vw;
  align-content: center;
}

.HDT {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.HDcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.HDcontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.Wearable {
  position: relative;
}

.wsection {
  max-height: 122.88vh;
}

.Wbgimg {
  background-image: url("https://images.unsplash.com/photo-1584377334016-464803e03b80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHJpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.Wimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 42.459vw;
  position: relative;
}

.Wimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.541vw;
  position: relative;
  top: -88vh;
}

.Wtext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  margin-left: 10.688vw;
  position: relative;
  top: -193.92vh;
}

.WT {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.Wcontent {
  display: block;
  padding: auto;
  margin: auto;
}

.Wcontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.Craft {
  position: relative;
  max-height: 122.88vh;
}

.Csection {
  max-height: 122.88vh;
}

.Cbgimg {
  background-image: url("https://images.unsplash.com/photo-1488806374796-a4071c52353b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGNyYWZ0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  width: 111.273vw;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
}

.Cimage-container {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 0.1464vw;
  position: relative;
  top: -3.2vh;
}

.Cimages {
  width: 29.28vw;
  height: 84.8vh;
  margin-left: 10.541vw;
  position: relative;
  top: -88vh;
}

.Ctext {
  width: 29.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -194.4vh;
  margin-left: 55.636vw;
  align-content: center;
}

.CT {
  position: relative;
  margin-left: 4.758vw;
  height: 17.6vh;
  width: 20.863vw;
}

.Ccontent {
  display: block;
  padding: auto;
  margin: auto;
}

.Ccontent h1 {
  color: black;
  font-size: 1.3177vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

/* Tstimonials designing */

.testimonial-slider {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 24vh;
  text-align: center;
}

.testimonial-slider ul.slider {
  display: block;
  list-style: none;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 56vh;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial-slider ul.slider li {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  margin: 0 auto;
}

.testimonial-slider ul.slider li:nth-child(1) {
  opacity: 1;

  -webkit-animation: fade-animation-1 25s infinite;
  animation: fade-animation-1 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(2) {
  -webkit-animation: fade-animation-2 25s infinite;
  animation: fade-animation-2 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(3) {
  -webkit-animation: fade-animation-3 25s infinite;
  animation: fade-animation-3 25s infinite;
}

.testimonial-slider ul.slider li:nth-child(4) {
  -webkit-animation: fade-animation-4 25s infinite;
  animation: fade-animation-4 25s infinite;
}

.testimonial-slider q {
  display: inline-block;
  font: normal 700 3.6vw / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 0.5pt;
  text-shadow: 0 0.36vw 0.73vw rgba(0, 0, 0, 0.1);
  max-width: 35ch;
}

.testimonial-slider .source {
  margin-top: 4vh;
  color: #d9e0f9;
  font: italic 400 3.6vw / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;

}

/* KEYFRAME DECLARATIONS */
@keyframes fade-animation-1 {

  0%,
  25%,
  100% {
    opacity: 0;
  }

  3%,
  22% {
    opacity: 1;
  }
}

@keyframes fade-animation-2 {

  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }

  28%,
  47% {
    opacity: 1;
  }
}

@keyframes fade-animation-3 {

  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }

  53%,
  72% {
    opacity: 1;
  }
}

@keyframes fade-animation-4 {

  0%,
  75%,
  100% {
    opacity: 0;
  }

  78%,
  97% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-1 {

  0%,
  25%,
  100% {
    opacity: 0;
  }

  3%,
  22% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-2 {

  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }

  28%,
  47% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-3 {

  0%,
  50%,
  75%,
  100% {
    opacity: 0;
  }

  53%,
  72% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-animation-4 {

  0%,
  75%,
  100% {
    opacity: 0;
  }

  78%,
  97% {
    opacity: 1;
  }
}

.heading {
  text-align: center;
  color: #454343;
  padding-top: 7vh;
  position: relative;
  margin-bottom: 11.2vh;
  text-transform: uppercase;
  z-index: 999;
}

.heading h1 {
  font-size: 2.19vw;
  font-weight: 700;
}

.white-heading h1 {
  color: #ffffff;
}

.testimonial {
  min-height: 60vh;
  position: relative;
  background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
  padding-top: 3vh;
  padding-bottom: 8vh;
  background-position: center;
  background-size: cover;
}

.heading:after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 6.4vh;
  width: 13.17vw;
  border-radius: 0.29vw;
  transform: translateX(-50%);
  background: url(img/heading-line.png);
  background-repeat: no-repeat;
  background-position: center;
}

.white-heading:after {
  background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* Explore Styling */
.Feature {
  width: 100%;
  max-height: 122.88vh;
  overflow: hidden;
}

.FeatureImage {
  width: 100%;
  height: 122.88vh;
  opacity: 0.1;
}

.Featuretitle h1 {
  text-orientation: upright;
  width: 3.66vw;
  letter-spacing: 1.317vw;
  font-size: 2.92vw;
  color: black;
  backdrop-filter: inherit;
  position: relative;
  top: -110.4vh;
  padding-left: 13.5vw;
}

.scontainer {
  width: 73.2vw;
  height: 75.2vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -108.8vh;
  margin-left: 29.28vw;
}

.slider1 {
  width: 73.2vw;
  height: 75.2vh;
  margin-left: 14.64vw;
  position: relative;
  top: -176vh;
}

.slider2 {
  display: flex;
}

.SliderImg {
  width: 36.603vw;
  height: 48vh;
  position: relative;
  top: 11.2vh;
}

.slidercontent h1 {
  font-size: 3.5vw;
  margin-left: 8.7847vw;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
}

.slidercontent p {
  margin-left: 2.19vw;
  margin-top: 4.8vh;
  color: white;
  line-height: 1.8;
  letter-spacing: 0.1em;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
}

/* Contact Us Styling */
.contact {
  background-image: url('https://c0.wallpaperflare.com/preview/236/736/891/replacement-lamp-flowers-evening-garden.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: max-content;
  padding-bottom: 1.7rem;
}

.contact-form{
  margin-bottom: 5vh;
}

.placeholderRed {
  margin: 2.24vh 0;
  padding: 1.92vh 0.73vw;
  width: 100%;
  font-size: 1.464vw;
  border-radius: 0.73vw;
  font-family: "BaronMTModern";
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  background-color: rgba(206, 48, 48, 0.8);
}


.Fcontact {
  position: relative;
}

.text-center {
  text-align: center;
  padding-top: 16vh;
  color: black;
  letter-spacing: 0.0732vw;
  font-size: 2.9282vw;
  color: white;
  font-family: "BaronMTModern";
  font-weight: 100;
}

.form {
  width: 61%;
  margin: 8vh auto;
  margin-bottom: 5vh;
}

.form-input {
  margin: 2.24vh 0;
  padding: 1.92vh 0.73vw;
  width: 100%;
  font-size: 1.464vw;
  border-radius: 0.73vw;
  font-family: "BaronMTModern";
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  background-color: rgba(248, 242, 242, 0.8);
}

.NamePhone {
  display: flex;
  justify-content: space-between;
  width: 102%;
}

.NamePhone input {
  width: 27.8vw;
}

.submit-btn {
  text-align: center;
  letter-spacing: 0.0732vw;
  width: 100%;
  font-size: 2.196vw;
  font-family: "BaronMTModern";
  color: black;
  background-color: rgba(248, 242, 242, 0.8);
  padding: 0.8vh 0.2196vw;
  border-radius: 0.732vw;
  margin-left: 0.732vw;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn1 {
  padding: 1.12vh 0.512vw;
  font-size: 1.317vw;
}

.Fheader {
  max-height: 122.88vh;
}

.headerF {
  background-image: url("https://img.freepik.com/free-vector/fashion-background-with-jeans-cosmetic-shoes_83728-1896.jpg?size=626&ext=jpg");
  width: 100%;
  height: 122.88vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

/* footer styling */

.footer {
  position: relative;
  height: max-content;
}

.footertitle {
  text-align: center;
  justify-content: center;
  padding-top: 3vh;
  font-size: 2rem;
}

.connectstatement {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.leftconnectstatement {
  padding-left: 15vw;
  font-size: 2.3vw;
  width: max-content;
  color: white;
}

.rightconnectstatement {
  padding-right: 15vw;
  font-size: 2.3vw;
  color: white;
}

.mobnumber {
  font-size: 1.5vw;
}


.footer {
  /* background-image: url("https://hindi.gyaanghantaa.com/wp-content/uploads/sites/2/2020/03/footer-background.jpg"); */
  position: relative;
  background-attachment: fixed;
  background-color: rgba(245, 189, 2);
  height: max-content;
}

.footertitle {
  text-align: center;
  justify-content: center;
  padding-top: 11.5vh;
  font-size: 2.5vw;
  color: white;
}

.socialmedia {
  padding-left: 0.21961vw;
}

/* Fashion footer */
.mobnumber1 {
  font-size: 1.5vw;
  color: white;
}

/* ADD CSS HERE */

@media only screen and (max-width: 1920px) {
  .button-container {
    position: relative;
    top: -14vh;
    padding-left: 26vw;
  }

  .image-container {
    width: 402.6vw;
    height: fit-content;
    position: relative;
    transition: left 3s;
    -webkit-transition: left 3s;
  }

  .mystory{
    height: 60%;
  }

  .story-title{
    margin-top: -11%;
    margin-left: -53%;
    height: 24%;
    width: 66%;
  }

  .story_content{
    margin-top: 32%;
    height: 18%;
    width: -5%;
    margin-left: 15%;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-size: 1.4vw;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.366vh;
}
  
.story_image{
  height: 47%;
    width: 35%;
    border-radius: 0.7rem;
    margin-top: 22%;
    margin-left: -6rem;
}

  .img1 {
    height: 98%;
    width: 57%;
    margin-left: 34%;
    margin-top: -42%;
    border-radius: 0.366vw;
    position: relative;
    animation: none;
    border-radius: 0.5124vw;
  }

  .img2{
    position: absolute;
    margin-top: 15%;
    height: 16%;
    width: 20%;
    margin-left: -18.59%;
    border: 0.15vw solid black;
    border-radius: 1.46vw;
  }

  

  .contact{
    padding-bottom: 10vh;
  }

  .text-center{
    text-align: center;
    padding-top: 11%;
    color: black;
    letter-spacing: 0.0732vw;
    font-size: 2.9282vw;
    color: white;
    font-family: "BaronMTModern";
    font-weight: 100;
  }

  .footer{
    height: max-content;
  }

  .footertitle{
    padding-top: 5%;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  .image-container {
    width: 402.6vw;
    height: fit-content;
    position: relative;
    transition: left 3s;
    -webkit-transition: left 3s;
  }

}


@media only screen and (max-width: 1280px) {
  .image-container {
    width: 403.5vw;
    height: 73.88vh;
    position: sticky;
    transition: left 2s;
    -webkit-transition: left 2s;
  }
  
  .slider-image {
    float: left;
    margin-top: 0;
    width: 100vw;
    height: auto;
  }

  .button-container {
    position: relative;
    top: -18vh;
    display: inline-flex;
    background: transparent;
    margin-left: -3vw;
  }
  
  .slider-button {
    color: white;
    font-size: 10vw;
    font-family: "BaronMTModern";
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 2.196vw;
    margin-left: 2.196vw;
  }
  
  .slider-button h1 {
    width: 18.5vw;
    font-size: 2.46vw;
  }
  
  .fashion {
    margin-right: -3vw;
  }
  
  .SD {
    margin-right: 3.8vw;
  }
  
  .slider-button h1:hover {
    font-size: 2.48vw;
    transition: 1s ease;
    width: 18.5vw;
  }
  
  .mywork2 {
    position: relative;
   
}

  .WorkAdjust {
    display: inline;
    /* height: 170rem; */
  }

  .workimg2 {
    width: 100vw;
    height: 84vh;
    position: relative;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-attachment: unset;
  }
  
  .worktext2 h1 {
    color: rgb(255, 255, 255);
    font-size: 4vw;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 0.14vw;
    animation: none;
    white-space: nowrap;
    border-right: 0.1vw solid black;
    box-sizing: border-box;
    margin-left: 3vw;
}

  #Work {
    height: 271vh;
  }

  .FashionWork{
    width: 100vw;
    height: max-content;
  }

  .img1 {
    padding: 0;
    margin-left: 26vw;
    width: 44vw;
    height: 52vh;
    border-radius: 5vw;
    margin-bottom: 26vh;
    margin-top: -36vh;
}
  

  .img2 {
    padding: 0;
    margin-top: 18vh;
    border-radius: 5vw;
    height: 22%;
    width: 35rem;
    margin-left: -44vw;
  }

  .img3 {
    position: relative;
    top: 28vh;
    padding: 0;
    border-radius: 5vw;
    height: 29vh;
    padding-top: 11.5rem;
    margin-left: 13vw;
    width: 72vw;
  }

  .testimonial{
    height: 80vh;
    margin-top: 15vh;
  }

  .slidercontent {
    margin-top: 10vh;
  }

  .slidercontent h1 {
    font-size: 3.5vw;
    margin-left: 8.7847vw;
    color: white;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-style: normal;
  }
  
  .slidercontent p {
    font-size: 1.4vw;
  }

  .contact {
    height: max-content;
    background-image: url('https://c0.wallpaperflare.com/preview/236/736/891/replacement-lamp-flowers-evening-garden.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 1.7rem;
}

.headerF {
  background-image: url(https://img.freepik.com/free-vector/fashion-background-with-jeans-cosmetic-shoes_83728-1896.jpg?size=626&ext=jpg);
  width: 100vw;
  height: 100vh;
  background-attachment: initial;
  background-size: cover;
  position: relative;
}

.KivaCouture {
  width: 38.282vw;
  height: 80.8vh;
  margin-left: 10.54vw;
  position: relative;
  top: -88vh;
}

.heritageCouture {
  width: 33.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -194.4vh;
  margin-left: 55.636vw;
  align-content: center;
}

.heritagecontent h1 {
  color: black;
  font-size: 2.1vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.EJtext {
  width: 33.28vw;
  height: 84.8vh;
  background: white;
  position: relative;
  top: -194.4vh;
  margin-left: 55.636vw;
  align-content: center;
}

.EJcontent h1 {
  color: black;
  font-size: 2.1vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.jewelryimages {
  width: 38.282vw;
  height: 80.8vh;
  margin-left: 10.54vw;
  position: relative;
  top: -88vh;
}

.PSBranding {
  width: 38.282vw;
  height: 80.8vh;
}

.PSBcontent h1 {
  color: black;
  font-size: 2.1vw;
  line-height: 5.6vh;
  word-spacing: 0.512vw;
  margin-left: 1.464vw;
  margin-right: 1.464vw;
}

.PSBrad {
  width: 33.282vw;
  height: 84.8vh;
  background: white;
  margin-left: 10.688vw;
  position: relative;
  top: -193.92vh;
}

.SDtext {
  width: 33.28vw;
}

.SDcontent h1 {
  color: black;
  font-size: 2.1vw;
}

.CStext {
  width: 33.28vw;
}

.SDimages {
  width: 38.282vw;
  height: 80.8vh;
}

.CScontent h1 {
  color: black;
  font-size: 2.1vw;
}

.CSimages {
  width: 38.282vw;
  height: 80.8vh;
}

.LStext {
  width: 33.28vw;
}

.LScontent h1 {
  color: black;
  font-size: 2.1vw;
}

.LSimages {
  width: 38.282vw;
  height: 80.8vh;
}

.SDbgimg {
  width: 100vw;
}

.LSbgimg {
  width: 100vw;
}
.CSbgimg {
  width: 100vw;
}

.fashionbgimg {
  width: 100vw;
}

.PSBbgimg {
  width: 100vw;
}

.jewelrybgimg {
  width: 100vw;
}

.HDtext {
  width: 33.28vw;
}

.HDimages {
  width: 33.28vw;
  height: 80.8vh;
}

.HDcontent h1 {
  color: black;
  font-size: 2.1vw;
}

.HDbgimg {
  width: 100vw;
}
.Wbgimg {
  width: 100vw;
}

.Wimages {
  width: 38.282vw;
  height: 80.8vh;
}

.Wtext {
  width: 33.28vw;
}

.Wcontent h1 {
  color: black;
  font-size: 2.1vw;
}
.Cbgimg {
  width: 100vw;
}

.Cimages {
  width: 38.282vw;
  height: 80.8vh;
}

.Ctext {
  width: 33.28vw;
}

.Ccontent h1 {
  color: black;
  font-size: 2.1vw;
}


}

@media only screen and (max-width: 1024px){
  .image-container {
    width: 403.5vw;
    height: max-content;
  }
  .button-container {
    position: relative;
    top: -7vh;
  }

  .story_image {
    height: 62%;
  }

  .workimg2 {
    width: 100vw;
    height: 59vh;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: unset;
  }

  .worktext2 {
    display: inline-block;
    margin-top: 33.8vh;
  }

  .img1 {
    padding: 0;
    margin-left: 23vw;
    width: 44vw;
    height: 33vh;
    border-radius: 5vw;
    margin-bottom: 26vh;
    margin-top: -41vh;
}

.img3 {
  position: relative;
  top: 11vh;
  padding: 0;
  border-radius: 5vw;
  height: 29vh;
  padding-top: 11.5rem;
  margin-left: 9vw;
  width: 72vw;
}

.img2 {
  padding: 0;
  margin-top: -2vh;
  border-radius: 5vw;
  height: 16vh;
  width: 35rem;
  margin-left: -49vw;
}

.testimonial {
  height: 80vh;
  margin-top: -81vh;
}

}

@media only screen and (max-width: 992px) {

  .story_image {
    height: 84vh;
    width: 43vw;
    border-radius: 0.7rem;
    margin-top: 35vh;
    margin-left: -14vw;
}

  .slider-image{
    /* margin-left: -35rem; */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .story-title {
    margin-top: -2vh;
    width: 31vw;
    height: 33vh;
    margin-bottom: 15vh;
}

  .story_content {
    height: max-content;
    width: 38.6vw;
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-size: 1.8vw;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    margin-top: -4vw;
    margin-bottom: 0.366vh;
}

.mystory {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  height: 15%;
}

.write{
  width: 100vw;
}

.workimg2 {
  height: 112vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.mywork2{
  width: 100vw; /* change this */
  position: relative;
    display: flex;
}

.img1 {
  margin-left: 29.7vw;
  margin-top: -60vh;
  height: 58vh;
  width: 41vw;
}

.img2 {
  /* position: absolute; */
  margin-top: -6vh;
  height: 27vh;
  width: 32vw;
  margin-left: -36.5vw;
  border: 0.146vw solid black;
  border-radius: 1.46vw;
}

.img3 {
  margin-left: 18vw;
  width: 64vw;
  height: 30vh;
}

.testimonial {
  height: 80vh;
  margin-top: 50vh;
}

  .footer{
    margin-top: -8%;
    height: max-content;
    padding-top: 0vh;
  }

  .footertitle{
    padding-top: 5%;
  }
}

@media only screen and (max-width: 800px){
  .image-container {
    width: 403.5vw;
    height: max-content;
  }

  .button-container {
    position: relative;
    top: -8vh;
  }

  .story-title {
    margin-top: -2vh;
    width: 31vw;
    height: 25vh;
    margin-bottom: 6vh;
}

.story_image {
  height: 43vh;
  width: 43vw;
  border-radius: 0.7rem;
  margin-top: 27vh;
  margin-left: -14vw;
}

.img1 {
  margin-left: 29.7vw;
  margin-top: -25vh;
  height: 34vh;
  width: 41vw;
}

.img2 {
  /* position: absolute; */
  margin-top: 19vh;
  height: 14vh;
  width: 32vw;
  margin-left: -36.5vw;
  border: 0.146vw solid black;
  border-radius: 1.46vw;
}

.testimonial {
  height: 80vh;
  margin-top: -20vh;
}

}

@media only screen and (max-width: 600px){
  .image-container {
    width: 403.5vw;
    height: 33.88vh;
  }

  .button-container {
    position: relative;
    top: -9vh;
  }

  .story-title {
    margin-top: -2vh;
    width: 42vw;
    height: 27vh;
    margin-bottom: 7vh;
}

.story_image {
  height: 43vh;
  width: 43vw;
  border-radius: 0.7rem;
  margin-top: 30vh;
  margin-left: -14vw;
}

.img1 {
  margin-left: 27.7vw;
  margin-top: -30vh;
  width: 44vw;
  height: 44vh;
}

.img2 {
  /* position: absolute; */
  margin-top: 16vh;
  height: 16vh;
  width: 32vw;
  margin-left: -37.5vw;
  border: 0.146vw solid black;
  border-radius: 1.46vw;
}

.testimonial {
  height: 80vh;
  margin-top: 8vh;
}

.SliderImg {
  width: 36.603vw;
  height: 30vh;
}
.slidercontent p {
  font-size: 1.7vw;
}
}

@media only screen and (max-width: 480px){
  .image-container {
    width: 403.5vw;
    height: 56.88vh;
  }

.story_image {
  height: 64vh;
  width: 43vw;
  border-radius: 0.7rem;
  margin-top: 37vh;
  margin-left: -14vw;
}

.img2 {
  margin-top: 12vh;
  height: 25vh;
}

.slidercontent p {
  font-size: 1.6vw;
}

}

@media only screen and (max-width: 439px){
  .image-container {
    width: 403.5vw;
    height: 57.88vw;
}

.button-container {
  position: relative;
  top: -9vh;
}

.story-title {
  margin-top: -2vh;
  width: 40vw;
}

}

@media only screen and (max-width: 414px){
  .story_image {
    height: 45vh;
    width: 43vw;
    border-radius: 0.7rem;
    margin-top: 25vh;
    margin-left: -14vw;
}
.testimonial {
  height: 80vh;
  margin-top: 19vh;
}
}


@media only screen and (max-width: 412px){
  .story_image {
    height: 42vh;
    width: 43vw;
    border-radius: 0.7rem;
    margin-top: 29vh;
    margin-left: -14vw;
}

.testimonial {
  height: 80vh;
  margin-top: 26vh;
}

}

@media only screen and (max-width: 384px){
  .story_image {
    height: 45vh;
    width: 43vw;
    border-radius: 0.7rem;
    margin-top: 30vh;
    margin-left: -14vw;
}

.testimonial {
  height: 80vh;
  margin-top: 49vh;
}

.heading h1 {
  font-size: 3.19vw;
  font-weight: 700;
}
.testimonial-slider q {
  display: inline-block;
  font: normal 700 6vw / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
}

.rightconnectstatement {
  padding-right: 0vw;
  text-align: center;
}

}

@media only screen and (max-width: 375px){
  .story_image {
    height: 33vh;
    width: 43vw;
    border-radius: 0.7rem;
    margin-top: 24vh;
    margin-left: -14vw;
}

.story_content {
  height: max-content;
  width: 38.6vw;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 2vw;
}

.story-title {
  height: 22vh;
}

.testimonial {
  height: 80vh;
  margin-top: 44vh;
}

.slidercontent p {
  font-size: 2vw;
}

.slidercontent h1 {
  font-size: 6.5vw;
}

.SliderImg {
  width: 36.603vw;
  height: 30vh;
  position: relative;
  top: 22.2vh;
}

}

@media only screen and (max-width: 360px){
  .testimonial {
    height: 80vh;
    margin-top: 29vh;
  }
}

@media only screen and (max-width: 320px){
  .testimonial {
    height: 80vh;
    margin-top: 60vh;
}
.icons {
  height: 6vw;
  width: 7vw;
}
}

@media only screen and (max-width: 240px){
  .testimonial {
    height: 80vh;
    margin-top: 127vh;
}

.icons {
  height: 6vw;
  width: 7vw;
}
}

